version: '3'
services:
  db-zotero-elasticsearch:
   image: docker.elastic.co/elasticsearch/elasticsearch:5.3.0
   environment:
     - cluster.name=zotero
     - xpack.security.enabled=false
  db-zotero-redis:
     image: redis:5.0
  db-zotero-memcached:
     image: memcached:1.5
  app-zotero:
    image: app-zotero
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8081:81"
    volumes:
      - "./config/config.inc.php:/var/www/zotero/include/config/config.inc.php:ro"
      - "./config/dbconnect.inc.php:/var/www/zotero/include/config/dbconnect.inc.php:ro"
      - "./config/default.js:/var/www/stream-server/config/default.js:ro"
      - "./config/dataserver-scripts/create-user.sh:/var/www/zotero/admin/create-user.sh:ro"
      - "./config/dataserver-scripts/list-user.sh:/var/www/zotero/admin/list-user.sh:ro"
      - "./config/dataserver-scripts/www.sql:/var/www/zotero/misc/www.sql:ro"
      - "./config/dataserver-scripts/init-mysql.sh:/var/www/zotero/misc/init-mysql.sh:ro"
    environment:
      - RUN_USER=www-data
      - RUN_GROUP=www-data
    env_file:
      - secret.env
    depends_on:
      - db-zotero-elasticsearch
      - db-zotero-redis
      - db-zotero-memcached 
    links:
      - db-zotero-elasticsearch:elasticsearch
      - db-zotero-redis:redis
      - db-zotero-memcached:memcached
    restart: always
